* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background: hsl(30, 38%, 92%);
    font-size: 1.4rem;
    margin: 0;
}
.main-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    margin: 44px auto 0;
    border-radius: 8px;
    overflow: hidden;
} 
picture {
    margin: 0;
    height: 256px;
}
img {
    height: 260px;
}
.textContainer {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 340px;
    padding: 40px;
}
.main-article__description h5 {
    font-size: 1rem;
    padding-bottom: 24px;
}
.main-article__price {
    font-family: 'Fraunces', serif;
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 2.3fr;
    height: 64px;
}
.main-article__price p:nth-child(1) {
    color: #3c8067;
    font-size: 2.4rem;
}
.main-article__price p:nth-child(2) {
    text-decoration: line-through;
    padding-left: 12px;
}
.main-article__purchase {
    display: flex;
    justify-content: center;
}
button {
    font-family: 'Montserrat', sans-serif;
    background:#3c8067;
    color: whitesmoke;
    height: 32px;
    width: 172px;
    border-radius: 5px;
} 
button:hover {
    background-color: #086060;
}
button:active {
    background-color: rgb(11, 58, 58);
}
.attribution { 
    font-size: 1.1rem; 
    text-align: center;
    margin-top: 5px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {
    .main-article {
        display: flex;
        flex-direction: row;
        height: 404px;
        width: 560px;
    }
    picture {
        height: 412px;
    }
    .textContainer {
        height: 412px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
    }
    img {
        height: 412px;
    }
    .main-article__price {
        grid-template-columns: 1fr 1.3fr;
    }
}
